[Desktop Entry]
Type=Application
Name=Install KnucklsOS
Name[en]=Install KnucklsOS
Comment=Install KnucklsOS to this computer's hard drive
Exec=calamares
Icon=drive-harddisk
Terminal=false
Categories=System;
