UI vesamenu.c32
TIMEOUT 300
MENU TITLE KnucklsOS
DEFAULT live

LABEL live
MENU LABEL KnucklsOS Live (Standard)
KERNEL /live/vmlinuz
APPEND initrd=/live/initrd.img boot=live components quiet splash username=knucklsos

LABEL live-safe
MENU LABEL KnucklsOS Live (Safe Graphics / VM)
KERNEL /live/vmlinuz
APPEND initrd=/live/initrd.img boot=live components quiet splash nomodeset username=knucklsos

LABEL live-debug
MENU LABEL KnucklsOS Live (Debug / verbose)
KERNEL /live/vmlinuz
APPEND initrd=/live/initrd.img boot=live components nomodeset plymouth.enable=0 username=knucklsos
